*{
    font-family:'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(black, black);
    background-attachment: fixed;
    margin: 0;
}
.container-header{
    display: flex;
    width: 90%;
    margin: auto;
}
.header{
    width: 100%;
    background-color:#000000;
    border-bottom: rgb(254, 91, 153) 4px solid;
    
}
.header .container-header{
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 150px;
    height: 150px;
    border-radius: 120px;
    
    
}
.NavBar{
    width: 400px;
    display: flex;
    color: rgb(254, 91, 153);
    list-style: none;
    justify-content: space-evenly;
}
.NavBar a{
    text-decoration: none;
    color: rgb(254, 91, 153);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.NavBar a:hover{
background: rgb(254, 91, 153, 0.6);
color: aliceblue;
}

.header a{
    background-color: #000000;
    padding: 5px;
    font-size: larger;
}


.container-intro{
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, black 100%), url(../img/imagem\ certa.jfif) ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rocky{
    
    height: 30vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rocky h1{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(255, 255, 255, 0.6);
}

.historia {
   margin: auto;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    border-bottom: rgb(254, 91, 153) 4px solid;
    
    
}

.historia img {
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
   height: 15%;
   width: 17%;
   margin-bottom: 2%;
   border-radius: 2%;
   box-shadow: 8px 8px 8px 3px rgb(254, 91, 153);
}

.historia h1 {
   font-size: large;
   font-family:'Times New Roman', Times, serif;
   color: white;
  
   
   
}

.texto1 {
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30% ;
    height: 15%;

  
    
}
.Referencias h1{
    
   font-family:'Times New Roman', Times, serif;
   color: white;
}

.texto {
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
} 

.imgref img{
    height: 40vh;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 3px rgb(254, 91, 153);
}

.imgref  img:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    cursor: pointer;
    }

.roda-pe {
    border-top: rgb(254, 91, 153) 4px solid;
    background-color: #000000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.roda-pe a{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: rgb(254, 91, 153);
    margin-top: 20px;
}