body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.geral {
  display: flex;
}
.conteiner {
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    width: 20%;
    height: 130vh;
  }

  .coluna a {
    text-decoration: none;
    color: white;
  }
  
  .coluna {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 4px solid rgb(254, 91, 153);
    background-color: black;
    /* border: 3px solid pink; */
  }
  
.coluna h1 {
    color: white;
  }
  
  .Bem-vindo {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
  }
  
.Opções {
    width: 40%;
    color: white;
    background-color: rgb(230, 0, 90);
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .caminhos {
    width: 40%;
    background-color: rgb(254, 91, 153);
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }

  .caminhos a {
text-decoration: none;
  }

  
  .caminhos h3 {
    color: white;
    padding: 0;
    margin: 0;
  }
  
  .caminhos h3,
  .sair h3 {
    margin: 0;
    padding: 0;
  }
  
  .sair {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: rgb(254, 91, 153) ;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }


  .card{
    margin-left: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

  }
  .div_gif img{
    border-radius: 10px;
    margin-top: 10%;

  }
  .escolha{
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
  }
  .gerar{
    color: white;
    width: 25%;
    background-color: black;
    border: 1px solid white;
  }
