*{
    font-family:'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(black, black);
    background-attachment: fixed;
    margin: 0;
}
.container-header{
    display: flex;
    width: 90%;
    margin: auto;
}
.header{
    width: 100%;
    background-color:#000000;
    border-bottom: rgb(254, 91, 153) 4px solid;
    
}
.header .container-header{
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 150px;
    height: 150px;
    border-radius: 120px;
    
    
}
.NavBar{
    width: 400px;
    display: flex;
    color: rgb(254, 91, 153);
    list-style: none;
    justify-content: space-evenly;  
}
a{
    text-decoration: none;
    color: rgb(254, 91, 153);
}
.header a{
    background-color: #000000;
    padding: 5px;
    font-size: larger;
}

.cadastro {
width: 100%;
height: 100vh;
background: url(../img/descanso-treino.jpg);
position: relative;
background-size: cover;
display: flex;
justify-content: center;

}
.campo {
    margin-top: 5%;
flex-direction: column;
background-color: rgb(0, 0, 0, 0.8);
height: 60%;
width: 30% ;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
text-align: center;

}

.textCampo {
    
    color: white;
}

.input {
    border: none;
    background-color: transparent;
    align-items: center;
    outline: none;
    color: white;
    border-bottom: 2px solid rgb(254, 91, 153);

}

.botão {
    background-color: rgb(254, 91, 153);
    border-radius: 10px;
    width: 100px;
    
}


.loading-div {
    width: 50px;
    display: none;
  }
  
.loading-div img {
    height: 50px;
    width: 50px;
  }
  
.div_erros_login {
    display: none;
    color:white
  }
  
.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
.card_erro {
    display: none;
    background-color: black;
    color: white;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
.card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  




.roda-pe {
    border-top: rgb(254, 91, 153) 4px solid;
    background-color: #000000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.roda-pe a{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: rgb(254, 91, 153);
    margin-top: 20px;
}

