body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #333;
  }
  
  #quiz-container {
    margin-top: 50px;
  }
  
  #question {
    margin-bottom: 20px;
  }
  
  #options {
    list-style-type: none;
    padding: 0;
    
  }
  
  #options li {
    display: inline-block;
    margin: 20px;
  }
  
  #submit-btn {
    margin-top: 20px;
  }
  .card {
    background-color: blue;
    border-radius: 10px;
  }