body {
    margin: 0;
    overflow-x: hidden;
}

.container {
  display: flex;
}
.janela {
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    width: 20%;
    height: 130vh;
  }

  header-left a {
    text-decoration: none;
    color: white;
  }
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 4px solid rgb(254, 91, 153);
    background-color: black;
    /* border: 3px solid pink; */
  }
  
.header-left h1 {
    color: white;
  }
  
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
  }
  
.btn-nav {
    width: 40%;
    color: white;
    background-color: rgb(230, 0, 90);
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 40%;
    background-color: rgb(254, 91, 153);
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }

  .btn-nav-white a {
text-decoration: none;
  }

  
  .btn-nav-white h3 {
    color: white;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: rgb(254, 91, 153) ;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }

  .visao {
    width: 100%;
    top: -10%;
    left: 20%;
    background-color: black;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;    
  }

  .dados img {
    width: 50%;
    height: 25%;
    margin-top: 10%;
  }

  .dados{
    background-color: grey;
    margin-left: 20%;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
  }
    
  
    