*{
    font-family:'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(black, black);
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
}

.geral {
    display: flex;
  }
  .conteiner {
      background-color: black;
      display: flex;
      position: relative;
      justify-content: center;
      width: 22%;
      height: 130vh;
    }
  
    .coluna a {
      text-decoration: none;
      color: white;
    }
    
    .coluna {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      height: 100vh;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-right: 4px solid rgb(254, 91, 153);
      background-color: black;
      /* border: 3px solid pink; */
    }
    
  .coluna h1 {
      color: white;
    }
    
    .Bem-vindo {
      width: 100%;
      display: flex;
      justify-content: center;
      color: white;
    }
    
  .Opções {
      width: 40%;
      color: white;
      background-color: rgb(230, 0, 90);
      border-radius: 5px;
      text-align: center;
      padding: 2% 5%;
    }
    
    .caminhos {
      width: 40%;
      background-color: rgb(254, 91, 153);
      border: 3px solid #e6005a;
      border-radius: 5px;
      text-align: center;
      padding: 2% 5%;
    }
  
    .caminhos a {
  text-decoration: none;
    }
  
    
    .caminhos h3 {
      color: white;
      padding: 0;
      margin: 0;
    }
    
    .caminhos h3,
    .sair h3 {
      margin: 0;
      padding: 0;
    }
    
    .sair {
      margin: 0;
      padding: 0;
      width: 20%;
      background-color: rgb(254, 91, 153) ;
      color: white;
      border-radius: 10px;
      text-align: center;
      padding: 10px 15px;
      margin-bottom: 100px;
      cursor: pointer;
    }
  


.treinoTexto{
    color: white;
    position: relative;
    height: 80%;
    width: 100vw;
   background-color: #000000 ;
    background-size: cover;
    margin-left: 20%;
}
.diasT{
    display: flex;
     flex-wrap: wrap; 
     width: 70%;
     justify-content: space-evenly;
     margin-left: 2%;
     /* background-color: black; */
    
}
.dias{
    border: 1px solid white;
    font-size: 15px;
    
    border-radius: 10px;
    
}



.roda-pe {
    border-top: rgb(254, 91, 153) 4px solid;
    background-color: #000000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.roda-pe a{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: rgb(254, 91, 153);
    margin-top: 20px;
}