*{
    font-family:'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(black, black);
    background-attachment: fixed;
    margin: 0;
}
.container-header{
    display: flex;
    width: 90%;
    margin: auto;
}
.header{
    width: 100%;
    background-color:#000000;
    border-bottom: red 4px solid;
    
}
.header .container-header{
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 150px;
    height: 150px;
    border-radius: 120px;
    
    
}
.NavBar{
    width: 400px;
    display: flex;
    color: red;
    list-style: none;
    justify-content: space-evenly;  
}
a{
    text-decoration: none;
    color: red;
}
.header a{
    background-color: #000000;
    padding: 5px;
    font-size: larger;
}

.cadastro {
width: 100vw;
height: 100vh;
background: url(../img/descanso-treino.jpg);
position: relative;
background-size: cover;
display: flex;
justify-content: center;

}
.campo {
    margin-top: 80px;
flex-direction: column;
background-color: rgb(0, 0, 0, 0.8);
height: 30vw;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;

}

.textCampo {
    margin-top: 40px;
    color: red;
}

.botão {
    background-color: red;
    border-radius: 10px;
    width: 100px;
    
}




.roda-pe {
    border-top: red 4px solid;
    background-color: #000000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.roda-pe a{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: red;
    margin-top: 20px;
}

